# fly.toml app configuration file generated for ruby-sqlite-app-restless-water-2710 on 2025-12-17T13:40:16+03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ruby-sqlite-app-restless-water-2710'
primary_region = 'cdg'


[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
